
@import url('https://fonts.googleapis.com/css?family=Roboto');

$font: Roboto, sans-serif;
$font-size: 24px;

/* colors https://coolors.co/b4b8ab-153243-ecd444-0e1428-221e22 */

$base-dark: #0e1428;
$base-light: #b4b8ab;
$accent-light: #ecd444;
$accent-dark: #153243;